<div id="<%= dom_id(list) %>">
  <h2><%= list.name %></h2>
  <div id="cards_<%= list.id %>">
    <%= turbo_frame_tag "cards_#{list.id}" do %>
      <%= render list.cards %>
    <% end %>
  </div>
  <%= form_with model: [list, Card.new], local: false do |form| %>
    <%= form.text_field :title %>
    <%= form.text_area :description %>
    <%= form.submit "Add Card" %>
  <% end %>
</div>
