<div class="bg-[#FCF8F3] min-h-screen flex flex-col">
  <div class="flex-grow">
<div class="container bg-[#FFFFFF] mx-auto px-8 md:px-10 lg:px-0 max-w-screen-xl shadow-lg rounded-lg flex flex-col mt-8 min-h-screen">
  
      <div class="flex justify-between items-center my-4 p-4">
      <!-- Add Card Button -->
        <button id="add-card-btn" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full" onclick="openModal('add-card-modal')">
          + Add a card
        </button>
        
        <!-- title-->
        <h1 class="text-5xl font-bold text-gray-900 text-center relative group tracking-wide">
            Intern Project
            <span class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-0 h-0.5 bg-black group-hover:w-full transition-all duration-500 ease-out"></span>
        </h1>

      <!-- Three Dots Menu -->
  <button id="menu-btn" class="text-black-500 hover:text-black-700  flex items-center justify-center">
    <span class="text-5xl leading-none">...</span>
  </button>
      </div>

      
      <div class="w-full border-t border-gray-300 "></div>
      <!-- Add Card Modal -->
      <div id="add-card-modal" class="modal hidden">
        <div class="modal-content">
          <span class="close" onclick="closeModal('add-card-modal')">&times;</span>
          <h2 class="text-2xl font-bold mb-4 text-left">Add a new card</h2>
          <%= render "cards/form" %>
        </div>
      </div>

      <!-- Static Columns -->
      <div class="flex items-center bg-[#F2F2F2]" data-controller="column-menu">
        <% @static_columns = ["Triage", "Not Now", "Done"] %>

        <!-- Triage Column -->
        <% column = @columns.find { |c| c.name == "Triage" } %>
        <% if column %>
          <div class="bg-white p-2  flex-1 list relative" 
          data-id="<%= column.id %>"
           data-action="dragover->drag-drop#handleDragOver drop->drag-drop#handleDrop">
            <h2 class="text-2xl font-bold mb-6">
              <%= link_to column.name, column_path(column) %> (<%= column.cards.count %>)
            </h2>
            <div class="cards flex flex-wrap gap-4" data-column-id="<%= column.id %>">
              <% unless ["Not Now", "Done"].include?(column.name) %>
                <% column.cards.each do |card| %>
                  <div id="card-<%= card.id %>" class="card bg-white p-6 rounded-lg border border-gray-300 shadow-lg flex-shrink-0 transition duration-300 ease-in-out transform hover:scale-105" draggable="true" data-id="<%= card.id %>" style="border: 1px solid gray; border-radius: 4px;">
                    <%= link_to card.title, column_card_path(column.id, card.id), class: "font-semibold text-lg" %>
                    <p class="text-sm text-gray-600 mt-2">By <%= card.assigned_to %>, <%= time_ago_in_words(card.created_at) %> ago <%= card.due_on ? card.due_on.strftime("%B %d, %Y") : "No due date" %></p>
                   
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>

        <!-- Not Now Column -->
        <div>
          <% column = @columns.find { |c| c.name == "Not Now" } %>
          <% if column %>
            <div class=" w-[65px] p-2 text-center flex justify-center items-center list static-column whitespace-nowrap"
             data-controller="drag-drop"
             data-id="<%= column.id %>" 
             data-action="dragover->drag-drop#handleDragOver drop->drag-drop#handleDrop">
              <h2 class="text-xl font-medium rotate-90">
              <%= link_to column.name, column_path(column) %> (<%= column.cards.count %>)
              </h2>
            </div>  
          <% end %>
        </div>
      </div>

<div class="w-full border-t border-grey-300"></div>


        <div>
          <div id="add-column-modal" class="modal hidden">
            <div class="modal-content">
              <span class="close" onclick="closeModal('add-column-modal')">&times;</span>
              <h2 class="text-2xl font-bold mb-4 text-left">Add a new column</h2>
              <%= form_with model: Column.new, url: columns_path, local: true, id: "new-column-form" do |form| %>
                <div class="mb-4">
                  <%= form.label :name, "Name this column", class: "block text-gray-700 text-sm font-bold mb-2 text-left" %>
                  <%= form.text_field :name, class: "w-full p-2 border border-gray-300 rounded-lg shadow-sm" %>
                </div>
                <div class="mb-4">
                  <%= form.label :description, "Add an optional description", class: "block text-gray-700 text-sm font-bold mb-2 text-left" %>
                  <%= form.text_area :description, class: "w-full p-2 border border-gray-300 rounded-lg shadow-sm" %>
                </div>
                <div class="mt-4 flex justify-between">
                  <%= form.submit "Save column", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg" %>
                  <button type="button" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-lg" onclick="closeModal('add-column-modal')">
                    Cancel
                  </button>
                </div>
              <% end %>
            </div>
          </div>

        
          <!-- Dynamic Columns -->
        <div class="flex flex-wrap space-x-4 " data-controller="drag-drop column-menu">
        <% (@columns - @columns.select { |c| @static_columns.include?(c.name) }).each do |column| %>
          <div class="relative flex-1 mt-10 ml-5 <%= column.color.nil? ? "bg-white" : column.color %> p-4 rounded-lg shadow-lg list"
             data-controller="drag-drop"
              data-id="<%= column.id %>"
              data-column-menu-target="column" 
              data-controller="column-menu"
              data-action="dragover->drag-drop#handleDragOver drop->drag-drop#handleDrop">
              <div class="absolute top-2 right-2 cursor-pointer" data-action="click->column-menu#toggleMenu">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-1200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 12h12M6 6h12m-6 12h6" />
              </svg>
            </div>

       <div class="column-menu hidden bg-[F7F7F7]" data-controller="column-menu">
              <!-- Color Picker -->
        <div class="flex space-x-2 mt-2">
             <div class="w-6 h-6 bg-white border border-black rounded-full cursor-pointer" data-action="click->column-menu#changeColor" data-color="bg-white"></div>
             <div class="w-6 h-6 bg-[#E1EFFC] rounded-full cursor-pointer" data-action="click->column-menu#changeColor" data-color="bg-[#E1EFFC]"></div>
             <div class="w-6 h-6 bg-[#FFE4F7] rounded-full cursor-pointer" data-action="click->column-menu#changeColor" data-color="bg-[#FFE4F7]"></div>
             <div class="w-6 h-6 bg-[#FAF785] rounded-full cursor-pointer" data-action="click->column-menu#changeColor" data-color="bg-[#FAF785]"></div>
            <div class="w-6 h-6 bg-[#E4F8E2] rounded-full cursor-pointer" data-action="click->column-menu#changeColor" data-color="bg-[#E4F8E2]"></div>
             <div class="w-6 h-6 bg-[#F2EDFF] rounded-full cursor-pointer" data-action="click->column-menu#changeColor" data-color="bg-[#F2EDFF]"></div> 
       </div>

              <!-- Add a Card Column -->
              <div class="column-menu-item ">
              <%= link_to "Add a card", new_column_card_path(column_id: column.id), class: "column-menu-item", data: {
                turbo_frame: "new_card"
              } %>
              </div>

              <!-- Rename Column -->
              <div class="column-menu-item">
                <%= link_to "Rename", edit_column_path(column), class: "text-blue-500 hover:text-blue-700" %>
              </div>

              <!-- Delete Column -->
              <div class="column-menu-item">
                <%= button_to "Delete", column_path(column), method: :delete, class: "text-red-500 hover:text-red-700 font-semibold", data: { turbo_confirm: "Are you sure you want to delete this column?" } %>
              </div>
            </div>

            <h2 class="text-xl font-bold mb-4">
              <%= link_to column.name, column_path(column) %> (<%= column.cards.count %>)
            </h2>
            <div class="cards" data-column-id="<%= column.id %>">
              <% column.cards.each do |card| %>
                <div id="card-<%= card.id %>" class="card bg-white p-4 rounded-lg mb-4 border border-gray-300 shadow-md" draggable="true" data-id="<%= card.id %>" style="border: 2px solid gray; border-radius: 4px;">
                  <%= link_to card.title, column_card_path(column.id, card.id), class: "font-semibold text-lg" %>
                  <p class="text-sm text-gray-600 mt-2">By <%= card.assigned_to %>, <%= time_ago_in_words(card.created_at) %> ago</p>
                  <p class="text-xs text-gray-500 mt-1"><%= card.due_on ? card.due_on.strftime("%B %d, %Y") : "No due date" %></p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

          <div>
         <!-- Add Column Button -->
          <div class="flex justify-start mt-10">
            <button id="add-column-btn" class="bg-[#2377D2] hover:bg-blue-700 text-white font-bold py-1 px-3 rounded-full" onclick="openModal('add-column-modal')">
              + 
            </button>
          </div>
          </div>

        <!-- Done Column -->
          <% column = @columns.find { |c| c.name == "Done" } %>
          <% if column %>
          <div class="bg-[#E4F8E2] w-[65px] p-2 text-center flex justify-center items-center list static-column whitespace-nowrap"
         data-id="<%= column.id %>"
         data-action="dragover->drag-drop#handleDragOver drop->drag-drop#handleDrop">
          <h2 class="text-xl font-medium rotate-90 ">
            <%= link_to column.name, column_path(column) %> (<%= column.cards.count %>)
          </h2>
            <% end %>
          </div>
          </div>
          </div>
          </div>
        </div>
        <%= turbo_frame_tag "new_card" do %>
        <% end %>
